{% extends 'twipin/base.html' %}

{% block content %}
        <div class="row justify-content-center" >
            <div class="col-md-6">
               <div class="row">
                  <div class="col">
                     <div class="card bg-light">
                        <div class="card-body">
                           <h4 class="card-title"> John Doe </h4>
                           <textarea id="mensagem" class="form-control w100 mb-2" rows="3" placeholder="O que você quer twipar?" maxlength="140" autofocus></textarea> 
                           <span id="caracteres" class="badge badge-pill badge-secondary"> 140 caracteres restando </span>
                           <button id="btnEnviar" class="btn btn-primary float-right" disabled>Twipar</button>
                        </div>
                     </div>
                  </div>
               </div>

               <div class="row mt-4" >
                  <div class="col">
                       <h6 id="twipCounter">  </h6>
                  </div>
               </div>

               <div id="feed">
               </div>

               <div id="twipTemplate" class="d-none">
                  <div class="row mb-2 twip" twipId="-1" >
                     <div class="col">
                        <div class="card">
                           <div class="card-body">
                              <h6 class="card-title"> John Doe <span class="username font-weight-light text-muted">@johndoereal</span></h6>
                              <p class="texto">O mundo é grande e cabe nesta janela sobre o mar. O mar é grande e cabe na cama e no colchão de amar. O amor é grande e cabe no breve espaço de beijar.</p> 
                              <a class="curtir mr-2" href="#"><i class="fas fa-heart"></i> <span>0</span></a>
                              <a class="excluir mr-2 float-right" href="#"><i class="far fa-trash-alt"> </i></a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>

            </div>
        </div>

    <script>

       $(document).ready(function() {
            
            atualizarContadorTwips();

            //Atualização dos caracteres restantes e botão
            $("#mensagem").on('input',function() {
                 var t = $(this).val();
                 var max = $(this).attr("maxlength");
                 var c = max - t.length;
                 $("#caracteres").text(c + " caracteres restando"); 
                 if (c == max) {
                     $("#btnEnviar").prop("disabled", true); 
                 } else {
                     $("#btnEnviar").prop("disabled", false); 
                 }
            });

            //Envio de mensagem
            $("#btnEnviar").on('click', function() {
                 var t = $("#mensagem").val();
                 $("#mensagem").val("").trigger("input").focus();

                 $.ajax({
                     method: "POST",
                     url: "/api/twips",
                     data: {texto: t}
                 })
                 .done(function(data) {
                    if (data["mensagem"] == "ok") {
                       id = data["id"]
                       usuario = data["usuario"]
                       addTwip(id, t, usuario,0,false);
                       atualizarContadorTwips(); 
                    } else {
                       alert("Erro: "+data["mensagem"]);
                    }
                 });

                 return false;
            });

            //Eventos do twipTemplate
            $("#twipTemplate a.curtir").on('click', function() {

                 id = $(this).closest("div.twip").attr("twipId");
                 link = $(this)

                 $.ajax({
                     method: "POST",
                     url: "/api/twips/" + id  +  "/coracao"
                 })
                 .done(function(data) {
                    if (data["mensagem"] == "ok") {
                       $(link).find("span").text(data["curtidas"]);
                       $(link).find("i").addClass("gostei");
                    } else {
                       alert("Erro: "+data["mensagem"]);
                    }

                 });
                 return false;

            });

            $("#twipTemplate a.excluir").on('click', function() {
                 id = $(this).closest("div.twip").attr("twipId");
                 twip = $(this)

                 $.ajax({
                     method: "DELETE",
                     url: "/api/twips/" + id
                 })
                 .done(function(data) {
                     $(twip).closest("div.twip").remove();
                     atualizarContadorTwips();
                 });
                 return false;

            });

            //Fazer uma chamada para carregar todos os twips aqui
            $.getJSON( "/api/twips", function( twips ) {
                  
                 var count = twips.lista.length
                 for (var c = 0; c < count; c++) {
                     var id = twips.lista[c].id
                     var texto = twips.lista[c].texto
                     var usuario = twips.lista[c].autor
                     var curtidas = twips.lista[c].curtidas
                     var curtiu = twips.lista[c].curtiu
                     addTwip(id,texto,usuario,curtidas,curtiu)
                 }
                 atualizarContadorTwips();

            });
            
            
       });

       //Adiciona um twip com os dados dos parâmetros
       function addTwip(id, texto, usuario, curtidas,curtiu) {
           var newTwip = $("#twipTemplate > div").clone(true).hide().prependTo("#feed");
           newTwip.attr("twipId", id); 
           newTwip.find("span.username").text("@" + usuario);
           newTwip.find("p.texto").text(texto);
           newTwip.find("a.curtir > span").text(curtidas);
           if (curtiu==true) {
               newTwip.find("a.curtir").addClass("curtiu");
           } else {
               newTwip.find("a.curtir").removeClass("curtiu");
           }
           newTwip.fadeIn("slow");
       }


       //Função que atualiza o número de Twips
       function atualizarContadorTwips() {
           var c = $("#feed .twip").length
           var texto = "Nenhum Twip nessa área. Seja o primeiro!";
           if (c==1) {
               texto = "1 Twip nessa área"; 
           }
           if (c>1) {
               texto = "Existem " + c + " Twips nessa área"; 
           }
           $("#twipCounter").text(texto); 
       }

   </script>

 
{% endblock %}


